@model Mark
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="margin-top:30px">
                <div class="card">
                    <div class="card-header" style="display:flex;justify-content:space-between">
                        <h5 class="card-header-text">Insert Marks</h5>
                        <div asp-validation-summary="ModelOnly" style="color:red; margin-left:10px"></div>
                    </div>
                    <div class="card-block">
                        <form class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="form-control-label">Select Class</label>
                                    <select class="form-control" name="classId" id="classId">
                                        <option>NULL</option>
                                        @foreach (Class item in ViewBag.Classes)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="form-control-label">Select Exam</label>
                                    <select class="form-control" name="examId" id="examId">
                                        @foreach (Exam item in ViewBag.Exams)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="form-control-label">Select Subject</label>
                                    <select class="form-control" name="subjectId" id="subjectId">
                                        <option>NULL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button id="button" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="margin-top:30px" id="col-8">
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).on("change", "#classId", function () {
            $.ajax({
                url: "/EntryMarks/LoadSubject/",
                type: "get",
                data: {
                    "classId": $("#classId").val()
                },
                success: function (res) {
                    $("#subjectId").empty()
                    $("#subjectId").append(res)
                }
            });
        });
        $(document).on("click", "#button", function () {
            $.ajax({
                url: "/EntryMarks/LoadStudentsForMark/",
                type: "get",
                data: {
                    "classId": $("#classId").val(),
                    "subjectId": $("#subjectId").val(),
                    "examId": $("#examId").val()
                },
                success: function (res) {
                    $("#col-8").append(res)
                }
            });
        });
    </script>
}
