@model Section
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7" style="margin-top:30px">
                <div class="card">
                    <div class="card-header" style="display:flex;justify-content:space-between">
                        <h5 class="card-header-text">Create Sections</h5>
                        <div asp-validation-summary="ModelOnly"  style="color:red; margin-left:10px"></div>
                    </div>
                    <div class="card-block">
                        <form method="post">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-xs-2 col-form-label form-control-label">Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="Name" class="form-control">
                                    <span asp-validation-for="Name" style="color:red; margin-left:10px"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}