<div class="card">
    <div class="card-header">
        <h5 class="card-header-text">List of Studens</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Contact</th>
                            <th>Child</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FullName</td>
                            <td>EmailAddress</td>

                            <td>Male</td>

                            <td>PhoneNumber</td>
                            <td>
                                <span>studentParent.Student.FullName</span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
